POSTGRES_DB=forensic_analytics
POSTGRES_USER=forensic
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
REPOSITORY_SOURCE_DB_USER=repository_source
REPOSITORY_SOURCE_DB_PASSWORD=change-me-repository-source
REPOSITORY_SOURCE_DB_SCHEMA=repository_source
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me-pgadmin
PGADMIN_PORT=15432
